footer {
  background: #0b9cfe;
  background: linear-gradient(240deg, #0b9cfe 0%, #63c2f5 25%, #c6d3f2 50%, #ffefd9 75%, #f8cde3 100%);
  color: #000000;
  text-align: center;
  padding: 30px 0;
  width: 100%;
  font-size: 12px;

  .text-container {
    display: flex;
    justify-content: flex-start;

  }

  a {
    color: #000000;
  }
}
