header {
  display: flex;
  justify-content: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    padding: 20px;
    background: rgb(55, 9, 121);
    background: linear-gradient(156deg, #370979 0%, #cb00ff 100%);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .navbar-logo {
    color: #fff;
    text-decoration: none;
  }


  .navbar-menu {
    display: flex;

    .nav-item {
      margin: 0 10px;
      color: #fff;
      list-style: none;
      text-decoration: none;
      font-size: 1.5rem;

      .nav-link {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
