<div class="content">
  <div class="form-group">
    <h1>Question:</h1>
    <textarea id="question" class="question" placeholder="Enter your question" [(ngModel)]="userQuestion"></textarea>
  </div>
</div>
@if (userQuestion) {
<div class="content-btn">
  <button type="submit" class="btn btn-color btn-send" (click)="sendQuestion()">Send your Question</button>
</div>
}

<div class="content">
  <div class="form-group">
    <h1>Answer:</h1>
    <textarea class="answer" placeholder="Answer" disabled="true">{{answer}}</textarea>
  </div>
</div>
