body {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, #2d2e30 0%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

.content {
  padding: 20px;
  background-color: radial-gradient(circle, #2d2e30 0%);
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-color {
  background: linear-gradient(to right, #0b9dfe7f, #63c1f482, #c6d3f281, #ffefd98e, #f8cde390);
  color: #fff;
}

.btn-color:hover {
  background: linear-gradient(to right, #0b9dfe7f, #63c1f482, #c6d3f281, #ffefd98e, #f8cde390);
  color: #000000;
}

// .btn-send {
//   animation: forwards .5s appearingGrow ease-out;
// }

// .btn-send:hover {
//   animation: rainbow 1s infinite linear;
// }

@keyframes appearingGrow {
  from {
    scale: 0;
    opacity: 0;
  }

  from {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rainbow {

  0% {
    background: #ff0000;
  }

  16% {
    background: #ff8000;
  }

  33% {
    background: #ffff00;
  }

  50% {
    background: #80ff00;
  }

  66% {
    background: #00ff00;
  }

  83% {
    background: #00ff80;
  }

  100% {
    background: #00ffff;
  }

}
